<a href="https://colab.research.google.com/github/SushmaKaniti-5F3/ML_Internship/blob/main/Python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#string methods
name="APPELETON INNOVATIONS"
print(name.lower())
print(name.upper())
print(name.title())
print(name.capitalize())

appeleton innovations
APPELETON INNOVATIONS
Appeleton Innovations
Appeleton innovations

In [9]:
a="1"
b="a"
print("a:",type(a))
print("b:",type(b))

a: <class 'str'>
b: <class 'str'>

In [10]:
#Usage of Access specifiers in professional way
print("combination of '%s' and '%s' is %s"%(a,b,a+b))

combination of '1' and 'a' is 1a

In [11]:
#Explicit Typecasting - can be done using built-in func. like str(),int()
print(str(12)+"apple")

#Implicit Typecasting - In this, interpreter does the typecasting
print(1.01+1)

12apple
2.01

In [12]:
#Taking str input
fname=input("Enter a str:")
#Taking int input
i1=int(input("Enter integer:"))

Enter a str:abc
Enter integer:1200

```
  #Operators
    comparision: ==
    Relational:  >, <, 
    logical: and, or, not 
    boolean: &, |, ^
    assignment: =
```

In [13]:
#Bio-data
fname=input("Enter your first name:")
lname=input("Enter your last name:")
age=int(input("Enter your age:"))
dob=input("Enter your date of birth:")
gender=input("Enter your gender:")
phno=int(input("Enter your phone number:"))
address=input("Enter your address:")
print(fname+lname,dob,age,gender,phno,address,sep="\n")

Enter your first name:Sushma
Enter your last name:Kaniti
Enter your age:20
Enter your date of birth:19 April 2002
Enter your gender:Female
Enter your phone number:9291307130
Enter your address:Vijaya lakshmi Nagar, Mandapeta
SushmaKaniti
19 April 2002
20
Female
9291307130
Vijaya lakshmi Nagar, Mandapeta

In [14]:
#finding Min-Max of two no's
a=int(input())
b=int(input())
if(a>b):
  print("%d is big and %d is small"%(a,b))

else:
  print("%d is big and %d is small"%(b,a))

4
9
9 is big and 4 is small

In [15]:
#finding Min-Max of three no's
a=int(input())
b=int(input())
c=int(input())
if(a>b and a>c):
  print("%d is big "%(a))
elif(b>a and b>c):
  print("%d is big "%(b))
else:
  print("%d is big "%(c))

12
17
100
100 is big